<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="General">
    <setting id="vacationmode" type="bool" label="Vacation Mode" default="false"/>
    <setting id="debugmode" type="bool" label="Debug Mode" default="false"/>
    <setting type="sep"/>
    <setting subsetting="true" id="countdown_duration" type="slider" range="10,5,40" option="int" label="Count Down Dialog Duration" default="15"/>
    <setting subsetting="true" id="preroll_time" type="slider" range="5,5,30" option="int" label="Preroll Time" default="5"/>
  </category>
  <category label="Addon Activation Key">
    <setting label="Set Addon Activation Key" type="action" action="RunAddon(service.ltvpl, keymap)"/>
    <setting label="Activation Key" type="text" id="activationkey" default="227"/>
    <setting type="sep"/>
    <setting label="Reload Keymaps" type="action" action="RunAddon(service.ltvpl, reloadkeymaps)" option="close"/>
  </category>
  <category label="Daily Stop Command">
    <setting id="stopcmd_active" type="bool" label="Active" default="false"/>
    <setting id="alarmtime" type="time" label="Time (24 hr)" default="00:00"/>
  </category>
</settings>